.DS_Store

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# pixi environments
.pixi/*
!.pixi/config.toml

/.quarto/
**/*.quarto_ipynb

*.dot
/memo-comic-*.png

.Rhistory

/webppl\ vs\ memo/*_files/
/webppl\ vs\ memo/*_cache/
